body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    height: 100vh;
    background-color: #f4f4f4;
}

.container {
    width: 33.33%;
    background-color: #fff;
    padding: 40px;
    box-sizing: border-box;
    overflow-y: auto; /* Add a scrollbar if content overflows */
}

#webglCanvas {
    width: 66.66%;
    height: 100vh;
    background-color: #333;
}

.container p#intro {
    font-size: 32px;
    text-align: center;
    margin-bottom: 20px; /* Adjusted margin-bottom */
    color: #333;
}

#userInput {
    width: calc(100% - 40px); /* Account for padding */
    padding: 15px; /* Adjusted padding */
    border: 2px solid #4c8bf5;
    border-radius: 30px;
    margin-bottom: 20px; /* Adjusted margin-bottom */
    font-size: 20px;
    outline: none;
    transition: border-color 0.3s;
}

#userInput::placeholder {
    color: #999;
}

#userInput:focus {
    border-color: #3b6cb5;
}

#submitBtn {
    padding: 15px 30px; /* Adjusted padding */
    background-color: #3b6cb5;
    color: #fff;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s;
    font-size: 18px;
}

#submitBtn:hover {
    background-color: #274785;
}

#ellipsis {
    font-size: 24px;
    animation: blink 1s infinite;
}

@keyframes blink {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
}
